################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
/.vs/BasketAR/v15/Browse.VC.opendb
/.vs/BasketAR/v15/Browse.VC.db
/.vs/VSWorkspaceState.json
/.vs/BasketAR/v15/.suo
/Basket AR/Assets/StreamingAssets.meta
/Basket AR/Assets/StreamingAssets.meta
/.vs/slnx.sqlite-journal
/Basket AR/Assets/StreamingAssets.meta
/Basket AR/UpgradeLog.htm
